extends ./base.jade

- block content
  section.headline
    .container
      img(src="#{ settings.STATIC_URL }img/idlecars_logo_white.png", alt="idlecars", class="logo")
      .content
        h1 Revolutionizing Rideshare
        h3.subhead vehicles + sharing + technology + drivers
        p Earn more by renting luxury vehicles and working for rideshare and limousine services.
        a.button(href="http://#{ settings.WEBAPP_URL }") Find your car

  section.select
    .container
      .content
        h2 Ready to drive
        p Every car is inspected and has a validated TLC license. Find your car and start driving in as little as 24 hours. No leases or long-term commitments.

  section.get-more
    .container
      h2 Get more rides
      p.strong Our cars allow you to drive for any base.
      p Whatever rideshare, limousine or dispatch company you want to work for, you’ll find a vehicle that works for you.
      img.service-logos-big(src="#{ settings.STATIC_URL }img/services_stacked.jpg", alt="uber lift and others")
      img.service-logos-small(src="#{ settings.STATIC_URL }img/rideshare_logos.png", alt="uber lift and others")

  //- section.keep-more
  //-   .container
  //-     .content
  //-       h2 Keep more of your earnings
  //-       p You only pay for the hours you rent.

  section.get-more.convenient
    .container
      h2 Convenient for you
      p Idlecars takes care of all the paperwork, insurance, and maintenance. The listed price is all you pay.

  #lets-talk
  - if show_thanks
    section.thanks
      .container
        .content
          h2 Thanks!
          p Expect an email from us shortly.
          p Don't wan't to wait? 1-844-IDLECAR

  section.form
    .container
      form(action="#{ action }", ng-app='app', method="post", ng-controller="formCtrl", novalidate='', name="myForm")
        - csrf_token

        ul.role(ng-init="role = 'driver'")
          li
            input#id_role_0(name='role', type='radio', value='driver', checked, ng-model='role')
            div
              label(for='id_role_0') I’m a driver.
              p Show me the available cars.
          li
            input#id_role_1(name='role', type='radio', value='owner', ng-model='role')
            div
              label(for='id_role_1') I own a car.
              p I want my car to make me money.

        ul.contact(ng-show="role == 'owner'")
          li
            label(for='id_email', ng-bind='emailLabel', ng-class='{red:emailRed}')

            input#id_email(maxlength='254', name='email', type='email', ng-model='email', placeholder='you@example.com', required='')

          li
            label(for='id_zipcode', ng-bind='zipLabel', ng-class='{red:zipRed}')

            input#id_zipcode(maxlength='5', name='zipcode', type='text', ng-pattern='/[0-9]{5}/', ng-model='zipcode', placeholder='10001', required='')


        input.button(ng-show="role == 'owner'", type="submit", value="Let's Talk", ng-click='validation($event)')

        a.button(ng-show="role == 'driver'", href="http://#{ settings.WEBAPP_URL }") Find your car



  footer
    .container
      p.ask
        a(href='mailto:support@idlecars.com') ASK US ANYTHING
        div.last_content
          | <p class='tm'>© {% now 'Y' %} idlecars</p>
          p.tm All trademarks and images are copyright of their respective owners.
