extends ./base.jade

- block content
  section.headline
    .container
      img(src="#{ STATIC_URL }img/idlecars_logo_white.png", alt="idlecars")
      .content
        h1 Revolutionizing Rideshare
        h3.subhead vehicles + sharing + technology + drivers
        p Earn more by renting luxury cars and working as a rideshare driver.
        a.button(href="#lets-talk") LEARN MORE

  section.select
    .container
      .content
        h2 Select the best
        p We provide a wide selection of premium vehicles to drive for high-end rideshare and limousine services.

  section.get-more
    .container
      h2 Get more rides
      p.strong Our cars allow you to drive for any base.
      p No matter which vehicle you rent, you can accept rides from any rideshare, limousine, or dispatch company.
      img(src="#{ STATIC_URL }img/services.jpg", alt="uber lift and others")

  section.keep-more
    .container
      .content
        h2 Keep more of your earnings
        p You only pay for the hours you rent.

  section.get-more.convenient
    .container
      h2 Convenient for you
      p We take care of all the paperwork, insurance, and maintenance. We even ensure each car is clean for every shift.

  #lets-talk
  - if show_thanks
    section.thanks
      .container
        .content
          h2 Thanks!
          p Expect an email from us shortly.
          p Don't wan't to wait? 1-844-IDLECAR

  section.form
    .container
      form(action="#{ action }", method="post")
        - csrf_token

        ul.role
          li
            #{ contact_form.role.0 }
            div
              label(for='id_role_0') I want to drive.
              p Send me an invitation so I can rent.
          li
            #{ contact_form.role.1 }
            div
              label(for='id_role_1') I own a car.
              p I want my car to make me money.

        ul.contact
          li
            label(for='id_email') Email Address
            if contact_form.email.errors
              .error
                #{ contact_form.email }
                #{ contact_form.email.errors }
            else
              #{ contact_form.email }
              #{ contact_form.email.errors }
          li
            label(for='id_zipcode') Zipcode
            if contact_form.zipcode.errors
              .error
                #{ contact_form.zipcode }
                #{ contact_form.zipcode.errors }
            else
              #{ contact_form.zipcode }
              #{ contact_form.zipcode.errors }

        input.button(type="submit", value="Let's Talk")

  footer
    .container
      p.ask
        a(href='mailto:support@idlecars.com') ASK US ANYTHING
      | <p>© {% now 'Y' %} idlecars</p>
      p.tm All trademarks and images are copyright of their respective owners.
