extends ./base.jade

- block content
  section.navbar
    .logo
      img(src="#{ settings.STATIC_URL }img/idlecars_logo_white.png")
    .links
      a(href="#tutorial") How it works
      a(href="#{ login_url }") Join/Login
      a(href="http://goo.gl/forms/4s26I6GUQY") List your car
    .menu-button(ng-click='showMenu = !showMenu')
      .burger-button
    .menu-container(ng-show='showMenu', ng-click='showMenu=false')
      a(href="#tutorial") How it works
      a(href="#{ login_url }") Join/Login
      a(href="http://goo.gl/forms/4s26I6GUQY") List your car

  section.headline
    .phone-background
      .container
        div
          img(src="#{ settings.STATIC_URL }img/idlecars_logo_white.png")
        .content
          h2 Keep More of #[br] What You Earn
          p NYC's widest selection of TLC registered #[br] for-hire rentals at the best price
          p No leases, loans or long-term commitments. #[br] insurance and maintenance included.
          a.button(href="#{ settings.WEBAPP_URL }") Find your car
          a.login(href="#{ login_url }") Have an account? #[span Log in]

  section.get-more
    .container
      h3 Register Today. Drive Tomorrow.
      p We handle the paperwork so you can focus on your fares.

  section.select
    .container
      .content
        h3 Choose your car, get insured and start driving within #[br] #[strong 24 hours.]
        h1 It's that easy

  section.manhattan
    .container
      h3 Your Car, Your Service. When you need it.
      p Idlecars work with all services including Uber, Lyft and More
      img(src="#{ settings.STATIC_URL }img/services_stacked.png")

  a.invisible(id="tutorial")
  section.tutorial
    h2 How it works
    .segments
      .segment
        .pane
          .image
            img(src="#{ settings.STATIC_URL }img/tutorial1.png", align="middle")
          p #[strong Pick A Car. Any Car.]
          p Find the car that fits your style and budget.
      .segment
        .pane
          .image
            img(src="#{ settings.STATIC_URL }img/tutorial2.png")
          p #[strong Start Your Account.]
          p Use your smartphone to upload your driving documents.
      .segment
        .pane
          .image
            img(src="#{ settings.STATIC_URL }img/tutorial3.png")
          p #[strong Reserve Your Car.]
          p Use your credit card or bank account to reserve your car.
      .segment
        .pane
          .image
            img(src="#{ settings.STATIC_URL }img/tutorial4.png")
          p #[strong DRIVE]
          p Once you’re added to the insurance you’re ready to go. Go pick up your car!

  section.ask
    h3 Your Car is Ready, Are You?
      a(href='mailto:support@idlecars.com') ASK US ANYTHING
    h3 Follow Us Too
    .social
      .app
        a(href="https://twitter.com/idlecars" target="_blank")
          img(src="#{ settings.STATIC_URL }img/twitter.png")
      .app
        a(href="https://www.facebook.com/idlecars" target="_blank")
          img(src="#{ settings.STATIC_URL }img/facebook.png")
      .app
        a(href="https://www.linkedin.com/company/10117035" target="_blank")
          img(src="#{ settings.STATIC_URL }img/linkedin.png")

  footer
    p.tm
      strong Idlecars:
      a(href="#{ faq }") Help
      span |
      a(href="#{ terms_of_service }") Terms & Privacy
    br
    p.tm © {% now 'Y' %} idlecars
    p.tm All trademarks and images are copyright of their respective owners.
