extends ./base.jade

- block content
  .landing-page

    section.hero-asset.desktop
      .hero-top
        .content
          h1 Keep More of #[br] What You Earn
          p NYC's widest selection of TLC registered for-hire rentals, at the best price.
          p No leases, loans or long-term commitments. Insurance and maintenance included.
          a.button(href="#{ settings.WEBAPP_URL }") Find your car

    section.hero-asset-mobile(id="mobile")

    section.hero-content.mobile
      .container
        .content
          h1 Keep More of #[br] What You Earn
          p NYC's widest selection of TLC registered for-hire rentals, at the best price.
          p No leases, loans or long-term commitments. Insurance and maintenance included.
          a.button(href="#{ settings.WEBAPP_URL }") Find your car

    section.phone
      .phone-background
        .container
          .content-wrapper(id='desktop')
            .content
              h2 Renting a car has #[br] never been easier
              p Register today, and drive tomorrow. Choose from a huge variety of cars near you to rent for a day, week, or month.
              a #[p.bold Learn more]

    section.phone-content.mobile
      .container
        .content
          h2 Renting a car has never been easier
          p Register today, and drive tomorrow. Choose from a huge variety of cars near you to rent for a day, week, or month.
          a #[p.bold Learn more]

    a.invisible(id="tutorial")
    section.tutorial
      .container
        h3 How it works
        .segments
          .segment
            .pane
              .image
                img(src="#{ settings.STATIC_URL }img/tutorial1.svg", align="middle")
              p.bold Pick A Car. Any Car.
              p Find the car that fits your style and budget.
          .segment
            .pane
              .image
                img(src="#{ settings.STATIC_URL }img/tutorial2.svg")
              p.bold Start Your Account.
              p Use your smartphone to upload your driving documents.
          .segment
            .pane
              .image
                img(src="#{ settings.STATIC_URL }img/tutorial3.svg")
              p.single-line.bold Reserve Your Car.
              p Use your credit card or bank account to reserve your car.
          .segment
            .pane
              .image
                img(src="#{ settings.STATIC_URL }img/tutorial4.svg")
              p.single-line.bold DRIVE
              p Once you’re added to the insurance, you’re ready to go!

    section.select
      .container(id='desktop')
        .content
          h2 Join now and start driving in less than a day
          p Choose your car, get insured, and start driving in less than 24 hours.
          p It's that easy.

    section.select-content.mobile
      .container
        .content
          h2 Join now and start driving in less than a day
          p Choose your car, get insured, and start driving in less than 24 hours.
          p It's that easy.

    section.manhattan
      .container
        .content
          h2 Services we #[br.mobile] work with
          p Idlecars work with all services,#[br.mobile] including Uber, Lyft and More.
          img(src="#{ settings.STATIC_URL }img/services_stacked.png")
