extends ./base.jade

- block navbar
  section.navbar
    .logo
      img(src="#{ settings.STATIC_URL }img/idlecars_logo_white.png")
    .links
      a(href="#tutorial") #[p How it works]
      a(href='/about') #[p About Us]
      a(href="#{ add_car_form }") #[p List your car]
      a(href="#{ login_url }") #[p Join]

    .menu-button(ng-click='showMenu = !showMenu')
      .burger-button(ng-class='{active: showMenu}')

    .menu-container(ng-show='showMenu', ng-click='showMenu=false')
      a(href="#tutorial") How it Works
      a(href='/about') About Us
      a(href="#{ add_car_form }") List Your Car
      a(href="#{ login_url }") Join
