extends ./base.jade

- block navbar
  section.navbar
    .logo
      img(src="#{ settings.STATIC_URL }img/idlecars_logo_white.png")
    .links
      //- a(href="#{ owner_app_url }") #[p List your car]
      //- a(href="#{ login_url }") #[p Join]

    .menu-button(ng-click='showMenu = !showMenu')
      .burger-button(ng-class='{active: showMenu}')

    .menu-container(ng-show='showMenu', ng-click='showMenu=false')
      //- a(href="#{ owner_app_url }") List Your Car
      //- a(href="#{ login_url }") Join
